@media ( max-width: 667px ) {
    .content {
        width: 100%;
    }

    header .logo {
        margin-left: 20px;
    }

    .no-mobile {
        display: none;
    }

    #index-features ul li.active {
        background-image: none;
        width: 100%;
        text-align: center;
    }

    #index-features ul li.active img {
        margin-left: 0;

    }

    #index-block-features {
        width: 100%;
    }

    .two_column .column {
        float: none;
        width: calc(100% - 40px);
        margin: 0px 20px;
    }

    .two_column .column:last-child {
        float: none;
        width: calc(100% - 40px);
        margin: 0px 20px;
    }

    #index-checks ul li {
        margin-left: calc(50% - 150px);
    }

    footer {
        padding: 20px 20px;
    }

    #why ul li {
        float: none;
        margin-right: 0px;
        width: calc(100% - 40px);
        margin-left: 20px;
    }

    #why-block-personas {
        width: 100%;
    }

    #why i {
        display: none;
    }

    #why-details {
        margin: 0px 20px;
        width: calc(100% - 40px);
    }

    #why .partner {
        display: none;
    }

    .features .feature-image {
        background-image: none;
        width: 100%;
        text-align: center;
    }

    .features .feature-image img {
        margin-left: 10px;
        padding-left: 0;
        width: 80%;
        height: auto;
        float: none;
    }

    .main-info {
        padding: 0px 20px;
    }

    .features .description {
        margin: 0 20px;
    }

    .features .topic {
        width: 100%;
        text-align: center;
    }

    .mobile {
        display: block;
    }

    #tos-block {
        margin: 0px 20px;
    }

    footer {
        /* position: fixed; */
        bottom: 0px;
        width: calc(100% - 40px);
    }

    footer .block {
        width: 100%;
        margin-bottom: 40px;
    }

    #recent-blog-posts {
        float: none;
        margin-top: 40px;
    }

    #imprint-block {
        margin: 20px;
    }

    .navbar-inverse .navbar-nav > li {
        width: calc(100% - 10px);
        padding-right: 10px;
        text-align: right;
    }

    .navbar-inverse .navbar-nav > li a {
        padding-right: 20px;
    }

    .sessions .session-image img {
        width: 100%;
        margin-bottom: 30px;
    }

    .sessions li {
        padding-left: 10px;
        margin: 20px;
    }

    .sessions .description {
        padding-left: 0px;
    }

    .sessions .recommendations li {
        margin-left: 0;
        margin-bottom: 0;
    }

    article {
        margin-bottom: 100px;
    }

    .navbar-nav > li > .dropdown-menu li {
        width: auto;
        float: right;
        margin-right: 20px;
    }

    .navbar-nav > li > .dropdown-menu li a {
        text-align: right;
        padding-right: 10px;
    }

    #why .one-day {
        margin-left: 0px;
        margin-top: 20px
    }

    #one-day-with .main-info img {
        width: 100%;
    }

    #index-customers ul li {
        margin-left: 20px;
        width: calc(100% - 40px);
    }

    #index-leankoala ul li {
        width: calc(100% - 120px);
        margin: 0 40px 40px 40px;
        height: auto;
    }

    #index-leankoala h2 {
        width: calc(100% - 40px);
        margin-left: 20px;
    }

    #index-leankoala .info {
        height: auto;
    }

    .main-element-grey .info {
        margin: 0px 20px;
    }

    .main-element-grey .info h2 {
        width: calc(100% - 50px);
    }

    .main-element-grey .info p {
        width: calc(100% - 50px);
    }

    #page-checks .checks {
        margin-left: 20px;
    }

    #page-checks .checks li {
        width: calc(100% - 160px);
        margin-left: 20px;
    }

    #page-checks .checks li img {
        width: 50px;
        margin-right: 20px;
    }

    #index-checks ul li {
        margin-right: 0;
    }

    #index-leankoala ul li h2 {
        text-align: left;
    }

    #index-checks ul li:nth-child(6n) {
        margin-right: inherit;
    }
}