html {
    height: 100%;
}

body {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    padding: 0;
    margin: 0;
    font-size: 16px;
}

.content {
    margin: 0 auto;
    width: 1000px;
}

header {
    border-bottom: 1px solid #eee;
    padding-bottom: 5px;
    margin-top: 10px;

    text-transform: uppercase;
    font-size: 12px;
}

header .logo {
    float: left;
}

header .logo img {
    width: 35px;
    margin-top: 10px;
}

header .menu {
    float: right;
    font-weight: 300;
}

.price-models ul li {
    margin-right: 30px;
}

.price-models li:last-child {
    margin-right: 0px;
}

ul {
    padding: 0;
    margin: 0;
    list-style: none;
}

li {
    float: left;
}

header .menu ul li.signup {
    margin-right: 0px;
    font-weight: 400;
}

footer {
    background-color: #1E2632;
    /* margin-top: 100px;*/
    padding: 20px 0;
    color: white;
    font-size: 12px;
}

footer .headline {
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 20px;
    color: #27ae60;
}

footer ul li {
    margin-bottom: 10px;
    float: none;
}

footer ul li a {
    color: white;
}

footer .block {
    float: left;
    margin-right: 130px;
    height: 100%;
}

#recent-blog-posts {
    float: right;
}

footer {
    border-top: 5px solid #34495e;
    padding: 50px 0;
}

a {
    text-decoration: none;
    color: black;
}

/* articles */

h1 {
    font-size: 50px;
    font-weight: 300;
    margin-bottom: 0;
    padding-bottom: 0;
}

h2 {
    width: 100%;
    text-align: center;
    /* margin-top: 150px; */
    font-weight: 300;
    margin-bottom: 80px;
}

h3 {
    margin-bottom: 0;
    margin-top: 10px;
    font-weight: 300;
}

#index-head {
    width: 100%;
    text-align: center;
}

#index-head .logo {
    width: 250px;
}

#index-head .kicker {
    font-weight: 300;
}

.register {
    border-radius: 5px;
    padding: 10px 20px;
    color: white;
    width: 100px;
    font-weight: 300;
    margin-left: calc(50% - 70px);
    background-color: #27ae60;
    text-align: center;
}

#index-features {
    margin-top: 150px;
}

#index-features ul li {
    margin-right: 20px;
}

#index-features ul li img {
    width: 185px;
    margin-top: 77px;
}

#index-features ul li:last-child {
    margin-right: 0;
    padding-right: 0;
}

#index-features ul li.active {
    background-size: cover;
    background-image: url(/images/macbook.jpg);
    width: 470px;
    height: 260px;
}

#index-features ul li.active img {
    margin-left: 76px;
    margin-top: 26px;
    width: 323px;
    height: 201px;
}

#index-checks ul li {
    width: 300px;
    margin-right: 33px;
    margin-bottom: 25px;
}

#index-checks ul li:nth-child(3n) {
    padding-right: 0;
}

#index-checks ul li img {
    width: 60px;
    float: left;
    margin-right: 20px;
}

#index-checks ul li p {
    font-size: 12px;
    line-height: 20px;
    margin-left: 80px;
    height: 60px;
    margin-top: 20px;
}

.two_column p {
    margin-top: 0;
}

.two_column .column {
    float: left;
    width: calc(50% - 35px);
    margin-right: 70px;
    line-height: 30px;
    margin-left: 0px;
}

.two_column .column:last-child {
    margin-right: 0;
    margin-left: 0;
}

.price-models {
    margin-top: 100px;
}

.price-models li {
    width: 250px;
    text-align: center;
    padding-top: 20px;
    height: 460px;
    margin-right: 30px;
}

.price-models li.active {
    border: 2px solid #27ae60;
}

.price-models li {
    border: 1px solid #eee;
}

.price-models li.active h3 {
    font-weight: 400;
    font-size: 30px;
    margin-top: -2px;
}

.price-models li:last-child {
    margin-right: 0;
}

.price-models .price {
    font-size: 30px;
    margin-right: 0;
    margin-top: 50px;
}

.price-models .info {
    font-size: 12px;
    margin-top: 0px;
}

.price-models h3 {
    margin-bottom: 40px;
}

.main-info {
    margin-top: 50px;
    line-height: 35px;
    font-weight: 100;
    font-size: 22px;
}

.price-models .feature {
    padding: 5px;
}

.price-models .feature:nth-child(2n) {
    background-color: #eee;
}

.price-models li .register-plan {
    background-color: #eee;
    margin-left: 50px;
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 12px;
    width: 130px;
}

.price-models li.active .register-plan {
    background-color: #27ae60;
    color: white;
    font-weight: 400;
}

.recommended {
    position: absolute;
    margin-top: -46px;
    margin-left: 66px;
    width: 110px;
    background-color: #27ae60;
    padding: 5px;
    font-size: 12px;
    color: white;
}

.for-whom {
    margin-top: 50px;
    font-size: 12px;
    line-height: 20px;
    padding: 0 20px;
    height: 75px;
}

.features {
    margin-top: 100px;
}

.features li {
    margin-bottom: 80px;
    padding-bottom: 80px;
    border-bottom: 1px solid #eee;
}

.features li:last-child {
    margin-bottom: 0px;
    padding-bottom: 0px;
    border-bottom: none;
}

.features .feature-image {
    background-size: cover;
    background-image: url(/images/macbook.jpg);
    width: 510px;
    height: 280px;
    float: left;
    margin-right: 20px;
}

.features .feature-image img {
    width: 351px;
    height: 219px;
    padding-left: 82px;
    padding-top: 28px;
    margin-right: 20px;
    float: left;
}

.features .topic {
    font-weight: 400;
    margin-bottom: 20px;
    margin-top: 30px;
    font-size: 20px;
}

.features .description {
    line-height: 28px;
}

.startups li {
    margin-right: 30px;
    height: 80px
}

#why ul li {
    float: left;
    margin-right: 50px;
    width: 275px;
    margin-bottom: 30px;
    line-height: 30px;
}

#why .partner {
    width: 100%;
    text-align: center;
}

#why .partner ul li {
    width: auto;
}

#why ul li p {
    font-size: 13px;
}

#why ul li:nth-child(4) {
    margin-right: 0px;
}

#why ul li h3 {
    margin: 0 0 20px 0;
    font-weight: 400;
    text-align: left;
}

#why h2 {
    padding: 0 0 20px 0;
    border-bottom: 1px solid #eee;
}

.readmore {
    color: #c0392b;
}

#why-details {
    /* margin-bottom: 200px; */
}

#why-details p {
    line-height: 30px;
}

#why i {
    font-size: 200px;
    color: #34495e;
}

#why-details h2 {
    padding-top: 150px;
}

.main-element-grey #why-details h2 {
    padding-top: 0px;
}

#index-block-features {
    width: 1290px;
}

#why-block-personas {
    width: 1250px;
}

.mobile {
    display: none;
}

.navbar {
    margin-bottom: 0;
}

.navbar-inverse .navbar-nav {
    float: right;
}

.navbar-inverse .navbar-nav > li {

}

.navbar-inverse .navbar-nav > li > a {
    color: black;
}

.navbar-inverse .navbar-nav > li > a:focus, .navbar-inverse .navbar-nav > li > a:hover {
    color: black;
}

@media (min-width: 1200px) {
    .container {
        width: auto;
    }
}

.navbar-inverse .navbar-toggle:focus, .navbar-inverse .navbar-toggle:hover {
    background-color: transparent;
    border-color: #999;
}

.navbar-inverse .navbar-toggle {
    border-color: #999;
}

.navbar-inverse .navbar-collapse, .navbar-inverse .navbar-form {
    border-color: transparent;
}

.sessions {
}

.sessions li {
    margin-top: 120px;
    border-top: 1px solid #eee;
    padding-top: 80px;
}

.sessions li:first-child {
    margin-top: 50px;
    border-top: none;
}

.sessions .session-image img {
    width: 400px;
    border: 1px solid #eee;
}

.sessions .session-image {
    float: left;
    margin-right: 30px;
}

.sessions .event {
    font-size: 12px;
}

.sessions .topic {
    margin-top: 10px;
    font-size: 20px;
    font-weight: 400;
}

.sessions .description {
    margin-top: 20px;
    line-height: 30px;
    font-size: 13px;
    padding-left: 432px;
}

.sessions .recommendations {
    margin-top: 20px;
}

.sessions .recommendations li {
    margin-top: 0;
    padding: 2px 5px;
    font-size: 12px;
    float: left;
    border-radius: 5px;
    background-color: #eee;
    margin-right: 10px;
    margin-top: 10px;
}

article {
    height: calc(100% - 229px);
}

.clickable {
    cursor: pointer;
    cursor: hand;
}

.dropdown-label {
    margin: 18px;
}

.navbar-nav > li > .dropdown-menu {
    margin-left: 18px;
}

.navbar-nav > li > .dropdown-menu {
    padding: 0;
    width: 100%;
}

.navbar-nav > li > .dropdown-menu li {
    width: 100%;
}

.navbar-nav > li > .dropdown-menu li a {
    padding: 10px;
    width: calc(100% - 20px);
    text-transform: uppercase;
    font-size: 11px;
}

.main-element-grey {
    background-color: #EFF2F5;
    width: 100%;
    padding: 30px 0 80px 0;
    margin-top: 150px;
    background-image: url(/images/background.png);
    background-size: 20px
}

#one-day-with ul {
    justify-content: center;
    display: flex;
}

#one-day-with ul li {
    float: left;
    margin: 20px 5px;
    background-color: #ecf0f1;
    padding: 3px 10px;
    border-radius: 5px;
    font-size: 12px;

    display: inline;
    text-align: center;
}

.more {
    background-color: #27ae60;
    border-radius: 5px;
    padding: 5px 10px;
    margin-right: 20px;
    color: white;
    font-size: 12px;
}

#why .one-day {
    margin-left: 230px;
    margin-top: 20px
}

#one-day-with .main-info img {
    width: 600px;
}